######################################################################
### EditorConfig                              https://EditorConfig.org

root = true
quote_type = double

[*]
end_of_line = lf
insert_final_newline = true

######################################################################
